/* body{
    background-color:skyblue;
   
}
#div1{
    margin-top: 20px;
    background-color:green;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#div2{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
} */
